
.coaches{
    position: relative;
}
.coaches__wrapper{
    overflow: inherit;
}
.coaches__content{
    min-width: 100%;
    padding-left: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
    padding-right: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
    padding-top: calc(60px + (120 - 60) * ((100vw - 320px) / (1920 - 320)));
    height: 900px;
}
.coaches-slider{
    // position:absolute;
    // left:calc(10px + (372 - 10) * ((100vw - 320px) / (1920 - 320)));
}
.swiper{
    
}
.coaches-slider__wrapper{
  
}
.coaches-slide{
    
    max-width: 360px;
    img{
        max-width: 100%;
    }
    h3{
        font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 600;
        margin-top: 20px;
    }
    p{
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
        color:#141024;
        font-weight: 400;
        margin-top: 10px;
    }
    a{
        color:#D52027;
        font-weight: 400;
        margin-top: 20px;
        display: inline-block;
    }
}

.coaches-slider .swiper-button-prev,
.coaches-slider .swiper-button-next{
    color:#fff;
    font-size: 80px;
    background-color:#141024;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    img{
        width: 100%;
        height: 100%;
    }
   
    .prev, .next{
        display: inline-block;
        width: 14px;
        height: 14px;
        
    }
    .prev{
       border-top:3px solid #fff;
       border-left:3px solid #fff;
       transform: rotate(-45deg);
       margin-left: 5px;
    }
    .next{
       border-top:3px solid #fff;
       border-left:3px solid #fff;
       transform: rotate(130deg);
       margin-right: 5px;
       
    }
}
.swiper-container{
    position: absolute;
    left: 0;
    width: 100%;
}

.coaches-slider .swiper-scrollbar{
    max-width: 360px;
}
.swiper-scrollbar-drag{
    width: 260px;
}


@media (max-width: 992px){
    .coaches-slide{
        max-width: 220px;
    }
    
}

@media (max-width: 480px){
    .swiper-container{
        left: 10px;
        max-width: 220px;
    }
    
}