.inform__content{
    padding-left: calc(0px + (278 - 0) * ((100vw - 320px) / (1920 - 320)));
    
}
.inform__text{
    font-size:calc(20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    width: 891px;
    margin-top: 130px;
    margin-bottom: 60px;
    span{
        font-weight: 600;
    }
}

.advantage__items{
    display: flex;
    // justify-content: center;
}
.advantage__item{
    display: flex;
    flex-direction: column;
    width: 260px;
    .advantage__head{
        font-size:70px;
        color: #D52027;
        font-weight: 600;
        font-size:calc(60px + (70 - 60) * ((100vw - 320px) / (1920 - 320)));
    }
    .advantage__text{
        font-weight: 400;
        font-size:calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
    }
}