.main{
    flex: 1 1 auto;
    
}
.promo{
    background-color: #141024;
}
.promo__container{
    padding-left: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
    padding-right: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
}
.promo__content{
    display: flex;
    padding: 150px 0 0 0;
}
.block-text__title{
    color: #FFFFFF;
    font-size:calc(30px + (70 - 30) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    &:not(:last-child){
        margin: 0 0 20px 0;
    }
}

.block-text__subtitle{
    color: #FFFFFF;
    font-weight: 400;
    font-size:calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
    margin: 0 0 50px 0;
    padding-right: 30px;
}

.button{
    background-color: #D52027;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    font-size:calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    padding: 25px 54px;
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
        background-color: #b91b20;
    }
}

.block-text{
    flex: 1 1 49%;
    display: flex;
    justify-content: flex-end;
    padding: 0 55px 0 0;

}
.block-text__wrapp{
    max-width: 516px;
    padding-top: 250px;

}
.block-image{
    flex: 1 1 51%;
    img{
        width: 783px;
        min-width: 273px;
    }
}
@media (max-width: 1920px){
    .block-text__wrapp{
        padding-top: calc(142px + (250 - 142) * ((100vw - 992px) / (1920 - 992)))
    }
}
@media (max-width: 1920px){
    .block-text__wrapp{
        padding-top: calc(142px + (250 - 142) * ((100vw - 992px) / (1920 - 992)))
    }
}
@media (max-width: 992px){
    .block-text{
        align-items: center;
        justify-content: center;
        padding-right: 0;
    }
    .block-text__wrapp{
        text-align: center;
    }
    
    .promo__content{
        padding: 100px 0 0 0;
    }

    .block-text__wrapp{
        padding-top: 0;
    }
    .promo__content{
        flex-direction: column;
        position: relative;
    }
    .block-image{
        padding: 0 8px;
    }
    .block-text__subtitle{
        margin: 0 0 20px 0;
        padding: 0 15px;
        
    }
    .block-image{
        align-self: center;
        margin-bottom: 40px;
        img{
            width: 490px;

        }
    }
    .promo__button{
        width:calc(300px + (600 - 300) * ((100vw - 320px) / (992 - 320)));
        padding-top: 17px;
        padding-bottom: 17px;
        position: absolute;
        bottom: 40px;
        left: calc(0px + (174 - 0) * ((100vw - 320px) / (992 - 320)));
    }
}