.main{
    flex: 1 1 auto;
}
.promo{
    background-color: #141024;
}
.promo__container{
    padding: 0px 15px;
}
.promo__content{
    display: flex;
    padding: 150px 0 0 0;
    align-items: center;
}
.block-text__title{
    color: #FFFFFF;
    font-size:calc(30px + (70 - 30) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 600;
    &:not(:last-child){
        margin: 0 0 20px 0;
    }
}

.block-text__subtitle{
    color: #FFFFFF;
    font-weight: 400;
    font-size:calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
    margin: 0 0 50px 0;
}

.button{
    background-color: #D52027;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
    font-size:calc(16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
    font-weight: 400;
    padding: 25px 54px;
}

.block-text{
    flex: 1 1 49%;
    display: flex;
    justify-content: flex-end;
    padding: 0 20px 0 0;

}
.block-text__wrapper{
    max-width: 516px;
}
.block-image{
    flex: 1 1 51%;
    img{
        max-width:783px;
    }
}