.rate{
    margin-top: calc(60px + (120 - 60) * ((100vw - 320px) / (1920 - 320)));
}

.rate__content{
    width: 100%;
    padding-left: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
    padding-right: calc(10px + (30 - 10) * ((100vw - 320px) / (1920 - 320)));
}

.rate__cards{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-height:500px;

}
.cards-rate__item{
    display: flex;
    flex-direction: column;
    padding: 40px calc(20px + (40 - 20) * ((100vw - 992px) / (1920 - 992)));
    margin-right: calc(20px + (40 - 20) * ((100vw - 992px) / (1920 - 992)));
    border: 1px solid #14102433;
    border-radius: 20px;
    text-align: center;
    flex: 0 0 calc(300px + (360 - 300) * ((100vw - 992px) / (1920 - 992)));
    transition: all .6s ease;
    min-height: 460px;
    width: 360px;

    &:last-child{
        margin-right: 0;
    }
    &:first-child{
        .cards-rate__button{
        margin-top: calc(35px + (40 - 35) * ((100vw - 320px) / (1920 - 320)));
        }
        
    }
    &:hover, &:active, &:focus{
        background-color: #141024;
        color: #fff;
        transform: translateY(-20px);
        .cards-rate__button{
            margin-bottom: 40px;
            transition: margin-bottom .6s ease;
        }
    }
}

.cards-rate__title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom:calc(40px + (63 - 40) * ((100vw - 320px) / (1920 - 320)));
}
.cards-rate__prise {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}
.cards-rate__text {
        max-width: 250px;
}
.cards-rate__button {
    margin-top: calc(40px + (60 - 40) * ((100vw - 320px) / (1920 - 320)));
    padding:calc(17px + (25 - 17) * ((100vw - 320px) / (1920 - 320))) calc(60px + (75 - 60) * ((100vw - 320px) / (1920 - 320))) ;


}
.button {
}

@media (max-width: 1280px){
    .rate__cards{
        flex-wrap: wrap;
    }
}
@media (max-width: 1200px){
    .rate__cards{
        justify-content: flex-start;
        padding-right: calc(0px + (150 - 0) * ((100vw - 320px) / (1200 - 320)));
        padding-left: calc(0px + (250 - 0) * ((100vw - 320px) / (1200 - 320)));
    }

    .rate__title-main{
        text-align: center;
    }
    .cards-rate__item{
        margin-bottom: 30px;
    }
}

@media (max-width: 992px){
    .rate__title-main{
        text-align: center;
    }
    .rate__cards{
       flex-direction: column;
       align-items: center;
    }
    .cards-rate__item{
        margin-bottom: 30px;
        width: 300px;
    }
}