body{
    font-family: Jost;
    line-height: 1.6;
    font-size: 18px;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

[class*="__container"]{
    max-width: 1747px;
    margin: 0 auto;
}

[class*="__wrapper"]{
    max-width: 1220px;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600;700&display=swap');
@import 'reset.scss';
@import 'header.scss';
@import 'main.scss';
@import 'inform.scss';
@import 'profit.scss';
@import 'coaches.scss';


// font-family: 'Jost', sans-serif;